[
  {wspubsub, [
    {cowboy_trans, [{ip, {127,0,0,1}}, {port, 3000}]}
  ]},
  {episcina, [
    {pools, [{primary,
      [{size, 10},
       {timeout, 10000},
       {connect_provider, {pgclient, open,
         [[{host, "localhost"}
          ,{database, "postgres_pool"}
          ,{port, 5432}
          ,{user, "postgres"}
          ,{password, "password"}
         ]]
        }
       },
       {close_provider, {pgclient, close, []}}]}]
    }
  ]},
  {lager, [
    {log_root, "log/"},
    {handlers, [
      {lager_console_backend, info},
      {lager_file_backend, [{file, "error.log"}, {level, error}]},
      {lager_file_backend, [{file, "console.log"}, {level, info}]}
    ]}
  ]}
].
